<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweet Generator</title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        $(document).ready(function(){
            $('#results').hide();
            //connect to the socket server.
            var socket = io.connect();

            //receive details from server
            socket.on('my_response', function(msg) {
                $('#result').append(msg.data);
            });



            $('form#form').submit(function(event) {
                socket.emit('input', {data: $('#sub').val()});
                $('#results').show();
                return false;
            });

            $('#clear').click(function() {
                $('#result').val('');
                return false;
            });
        });
    </script>
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">Tweet Like Trump</h1>
    <p class="lead">This is a text generation application that uses a machine learning model<br> that was trained on
        tens of thousands of Trump's tweets<br> and using it predict how trump would finish the text you input.</p>



<div id="loading" style="display: none;"><img src="{{ url_for('static', filename='loading.gif') }}"/></div>
</div>

  </div>

<div class="page-scroll">
<div class="wrapper">
<form id="form" action="#" method="POST">
		<p>Enter Your Text Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="comment" rows="6" cols="50" minlength="100" required id="sub"></textarea>
		<br/>
        <br/>
        <button class='button' type="submit"  value="predict"
        onclick="let text = document.getElementById('sub').value; if(text.length >= 100) { return true; };">Predict</button>
</form>
<div class="result">


<div id="results" style="display: none">
		<p>Predicted results</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="comment" rows="14" cols="80" id="result"></textarea>
    <button id='clear'>clear</button>
</div>

</div>
<br/>
<br/>
</div>
</div>

</body>
</html>